<!doctype html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>

<title>SMS Admin Portal</title>

<style>
	body {background-color: #f3f4f6;}
</style>
	
</head>

<body>

<nav class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-900 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg">
  <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
    <div class="container-fluid">
      <a class="text-xl text-black font-semibold text-gray-300 hover:text-gray-100 focus:text-gray-100 mr-4" 
      	href="/admin/student/home">Student Management</a>
      <a class="text-xl text-black font-semibold text-gray-300 hover:text-gray-100 focus:text-gray-100 mr-4"  
      	href="/admin/subjects">Subject Management</a>
    </div>
  </div>
</nav>



<div class="flex flex-col px-28 py-8">
	<h2 class="font-medium leading-tight text-4xl mt-0 mb-2 text-gray-900">List of Students</h2>
	
	
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
      <a th:href = "@{/admin/student/new}"
		      class="inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-600 hover:shadow-lg 
		      focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out">
		      Create Student</a>
        <table class="min-w-full">
          <thead class="bg-white border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Student id
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                First Name
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Last Name
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Gender
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Course
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Year Level
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
          	
          	
            <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100"
            	th:each = "student : ${students}" >
            
           
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">   		
              		 <a th:href = "@{/student/profile/{id}(id=${student.id})}" 
              		 	th:text = "${student.id}" ></a>
              		</td>
              	
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
              		<a th:href = "@{/student/profile/{id}(id=${student.id})}"
              		th:text = "${student.firstName}"></a>
              		</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
              		<a th:href = "@{/student/profile/{id}(id=${student.id})}" 
              		th:text = "${student.lastName}"></a>
              		</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
              		th:text = "${student.gender}"></td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
              		th:text = "${student.course}"></td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
              		th:text = "${student.gradeLevel}"></td>
              		
              <td>
              <!-- 
              	<a th:href = "@{/student/profile/{id}(id=${student.id})}"  
              				class="inline-block px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-500 hover:shadow-lg 
              				focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out">
              				view</a>
              				 -->
              	<a th:href = "@{/student/edit/{id}(id=${student.id})}" 
              				class = "inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg 
              				focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out">
              				edit</a>
              	<a th:href = "@{/admin/student/delete/{id}(id=${student.id})}" 
              				class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg 
              				focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out">
              				delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
	
</body>
</html>